<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>$(DEVELOPMENT_LANGUAGE)</string>
    <key>NSCameraUsageDescription</key>
    <string>Camera access is required for uploading photos.</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>Microphone access is required for voice support.</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>Photo library access is required to select images.</string>
    
    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsArbitraryLoads</key>
        <true/>
    </dict>
</dict>
</plist>
